<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options de Gestion</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index_caisse.css}"> <!-- Lien vers le fichier CSS -->
    <script th:src="@{/js/index_caisse.js}"></script>
</head>
<body>

    <!-- INCLUE LE HEADER ICI  -->
    <div th:insert="~{header :: header}"></div>
    <div class="container" style="border: 1px solid white;">
        <br>
        <h2 class="text-center">Choisissez vos options</h2>        
        <br>
        <div class="select-container">
            <label for="lieu">Choisissez un lieu de caisse :</label>
            <select id="lieu" class="form-select custom-select">
                <option value="lieu1">Lieu 1</option>
                <option value="lieu2">Lieu 2</option>
                <option value="lieu3">Lieu 3</option>
            </select>
        </div>
        <br>
        <div class="select-container">
            <label for="type">Type (Achat/Vente) :</label>
            <select id="type" class="form-select custom-select">
                <option value="achat">Achat</option>
                <option value="vente">Vente</option>
            </select>
        </div>
        <br>
        <div class="select-container">
            <label for="moment">Moment (Matin/Soir) :</label>
            <select id="moment" class="form-select custom-select">
                <option value="matin">Matin</option>
                <option value="soir">Soir</option>
            </select>
        </div>
        <br>
        <!-- Bouton Valider centré -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary custom-button">Valider</button>
        </div>
        <br>
    </div>
    <br>

    <div th:insert="~{footer :: footer}"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
